<h1 ng-hide="!hoten">Chào {{hoten}}</h1>
<div class="row"></div>
<div class="row row-cols-1 row-cols-md-2 mt-3">
    <div class="col mx-3 mb-3 p-0" style="width: 460px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); border-radius: 10px;" ng-repeat="mh in cacmonhoc | limitTo:pageSize:start">
        <a class="card text-decoration-none pt-3" href="#!tracnghiem/{{mh.Id}}/{{mh.Name}}">
            <div class="card-body text-center">
                <img src="images/logos/{{mh.Logo}}" class="card-img-top w-25 m-auto">
            </div>
            <div class="card-footer pt-3">
                <h5 class="text-center text-black">{{mh.Name}}</h5>
            </div>
        </a>
    </div>
</div>

<div class="row text-center">
    <p class="fs-6">Trang hiện tại: {{currentPage}} / {{totalPage()}}</p>
</div>

<div class="d-flex flex-row-reverse mb-4">
    <button class="btn btn-info ms-1" ng-click="movetofoot()">Trang cuối</button>
    <button class="btn btn-warning ms-1" ng-click="next()">Trang kế</button>
    <button class="btn btn-warning ms-1" ng-click="prev()">Trang trước</button>
    <button class="btn btn-info ms-1" ng-click="movetohead()">Trang đầu</button>
</div>